/* Rectangle 1 */

position: absolute;
width: 800px;
height: 452px;

background: #d9d9d9;

/* 358 Exchange Place, */

position: absolute;
width: 188px;
height: 32px;

font-family: "Garamond Classico SC";
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 32px;
/* identical to box height */
letter-spacing: -0.04em;

color: #000000;

/* New York, */

position: absolute;
width: 100px;
height: 31px;

font-family: "Garamond Classico SC";
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 32px;
letter-spacing: -0.03em;

color: #000000;

/* N.Y. */

position: absolute;
width: 45px;
height: 32px;

font-family: "Garamond Classico SC";
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 32px;
/* identical to box height */
letter-spacing: 0.03em;

color: #000000;

/* & */

position: absolute;
width: 23px;
height: 35px;

font-family: "Garamond Classico SC";
font-style: normal;
font-weight: 400;
font-size: 29px;
line-height: 35px;
letter-spacing: 0.02em;

color: #000000;

/* Pierce */

position: absolute;
width: 84px;
height: 42px;

font-family: "Garamond Classico SC";
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 42px;
/* identical to box height */
letter-spacing: 0.02em;

color: #000000;

/* Mergers and Acquisitions */

position: absolute;
width: 202px;
height: 24px;

font-family: "Garamond Classico SC";
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.01em;

color: #000000;

/* Pierce */

position: absolute;
width: 84px;
height: 42px;

font-family: "Garamond Classico SC";
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 42px;
/* identical to box height */
letter-spacing: 0.02em;

color: #000000;

/* 212 555 6342 */

position: absolute;
width: 156px;
height: 42px;

font-family: "Garamond Classico SC";
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 42px;
/* identical to box height */
letter-spacing: -0.07em;

color: #000000;

/* Patrick BATEMAN */

position: absolute;
width: 278px;
height: 35px;

font-family: "Garamond Classico SC";
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 42px;
letter-spacing: -0.01em;

color: #000000;

/* Vice President */

position: absolute;
width: 278px;
height: 35px;

font-family: "Garamond Classico SC";
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 42px;

color: #000000;

/* 100099 fax 212 555 6390 */

position: absolute;
width: 250px;
height: 37px;

font-family: "Garamond Classico SC";
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;
letter-spacing: -0.07em;

color: #000000;

/* telex 10 4534 */

position: absolute;
width: 136px;
height: 37px;

font-family: "Garamond Classico SC";
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;
letter-spacing: -0.06em;

color: #000000;
